
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.mat-mdc-select-panel {
  background: #fff !important;
  box-shadow: 0 10px 24px rgba(0,0,0,.12), 0 2px 6px rgba(0,0,0,.06) !important;
  border: 1px solid rgba(0,0,0,.06);
}


.mdc-dialog__surface, .mat-mdc-card {
  border-radius: 12px !important;
}
